.parallax {
  background-image: url("./../assets/images/background.jpg");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.parallax-heading {
  font-size: 100px;
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px){
  .parallax-heading {
    font-size: 50px;
  }
}
