$primary-color: #adb5bd;

@mixin border-radius-10 {
  border-radius: 10px;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @include border-radius-10;

  box-shadow: inset 0 0 5px gray;
}
::-webkit-scrollbar-thumb {
  @include border-radius-10;

  background-color: $primary-color;
}

.height-100-p {
  height: 100%;
}

.color-bg-primary {
  background-color: $primary-color;
}

.base-color {
  color: #343a40;
}

.opacity-8 {
  opacity: .8;
}

.scale-x-1 {
  &:hover{
    overflow-x: hidden;
    transform: scaleX(1.1);
  }
}

.scale-1 {
  &:hover{
    overflow-x: hidden;
    transform: scale(1.1, 1.1);
  }
}

.transform-delay-4 {
  transition: transform 4s;
}

.padding-x-15-p {
  padding: 0 15%;
}

.padding-y-100 {
  padding: 100px 20px;
}

.text-align-center {
  text-align: center;
}

.max-body-width {
  max-width: 2640px;
}

.white-color {
  color: white;
}

.border-top-2 {
  border-top: 2px solid black;
}

.border-bottom-2 {
  border-bottom: 2px solid black;
}


